// Colors

$primary-color:          #ed1c24;
$secondary-color:        #00a550;
$orange-color:           #f58d1e;
$blue-color:             #0375d9;
$black-color:            #000000;
$white-color:            #ffffff;
$gray-lightest-color:    #f8f8f8;
$gray-lighter-color:     #e4e4e4;
$gray-light-color:       #b8c3c9;
$gray-color:             #cccccc;
$gray-default-color:     #999999;
$gray-dark-color:        #666666;
$gray-darker-color:      #414141;
$gray-darkest-color:     #333333;

// Border Radius
$border-radius-default:  8px;
$border-radius-small:    3px;

// Sizes
$container-size-default: 400px;
$full-header-size:       100px;
$icon-round-size:        36px;

// Fonts
$font-family-primary:    'Source Sans Pro', Arial, Helvetica, sans-serif;